.right-container {
    background-color: #EDEADE;
    padding: 20px; 
    .header {
        // border: 2px solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: solid;
        .add-folder {
            // outline: solid;
            display: flex;
            // border: 3px solid;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            transition: 0.3s;
            height: 40px;
            width: 45px;
        }
        button:hover {
            box-shadow: 0 0 6px #dc5d5d;
        }
        .title {
            font-weight: 600;
            font-size: 24px;
        }
    }
    .folder-container {
        .folder-header {
            display: flex;
            justify-content: space-between;
            padding: 20px 0 10px 0;
            border-bottom: 2px solid #1E1E1E;
            .folder-header-item {
                display: flex;
                align-items: center;
                gap: 7px;
                button {
                    background-color: #EDEADE;
                    border: none;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .cards-container {
            // border: 2px solid red;
            padding: 20px ;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-evenly;
            .card {
                border: 1px solid black;
                border-radius: 10px;
                padding: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 43%;
                gap: 10px;
                box-shadow:  0 0 2px #EF3837;
                transition-duration: 0.3s;
                img {
                    width: 50px;
                }
                .title-container {
                    display: flex;
                    flex-direction: column;
                }
                .card-item {
                    display: flex;
                    gap: 5px;
                    cursor: pointer;
                }
            }
            .card:hover {
                box-shadow: 0 0 8px #EF3837;
                transform: scale(1.05);
            }

        }
    }
}